.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.newflex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  margin-right: 200px;

}

.App{
  background-color: rgb(251, 240, 218);
 text-align: center;
 font-weight: bolder;
 
}